<p>
  <label for="allowed_to_manage_devices"><%=l(:allowed_to_manage_devices)%></label>
    <%= select_tag "settings[groups][]",
    options_from_collection_for_select(Group.all.sort, 'id', 'lastname',
    Setting.plugin_redmine_resources_management[:groups]
    ), :multiple => true, :id => "groups" %>
</p>
<p>
  <label for="number_of_devices_per_page"><%=l(:number_of_devices_per_page)%></label>
    <%= text_field_tag "settings[per_page]", @settings['per_page']%>
</p>